<mat-list>
    <mat-list-item>
        <button mat-raised-button color="primary" [routerLink]="['/hospitales']">Hospitales</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-raised-button color="primary" [routerLink]="['/doctores']">Doctores</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-raised-button color="primary" [routerLink]="['/pacientes']">Pacientes</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-raised-button color="primary" [routerLink]="['/especialidades']">Especialidades</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-raised-button color="primary" [routerLink]="['/notas-visita']">Notas de Visita</button>
    </mat-list-item>
</mat-list>
